pandas
numpy
xlrd
python-pptx
python-docx
typing-extensions
sqlalchemy==2.0.27
sqlalchemy-utils==0.41.1
selenium
webdriver_manager
requests
lxml
PyYAML
psycopg2-binary
asyncpg==0.27.0
jupyter
jupyterlab
matplotlib
scipy
camelot-py
opencv-python
openpyxl
progressbar
rarfile
simpledbf
beautifulsoup4
tables
PyPDF2
ghostscript
aiohttp
asyncio
clickhouse-sqlalchemy
aioftp

pydantic==2.8.2
pydantic-settings
fastapi==0.112.0
orjson
alembic
alembic-utils
cachetools
asyncache
CacheToolsUtils
redis
dpath
xxhash==3.0.0
fastapi-camelcase==2.0.0
