pandas
numpy
xlrd
python-pptx
python-docx
typing-extensions
SQLAlchemy==1.4.0
selenium
webdriver_manager
requests
lxml
PyYAML
psycopg2-binary
jupyter
jupyterlab
matplotlib
scipy
camelot-py
opencv-python
openpyxl
progressbar
rarfile
simpledbf
beautifulsoup4
tables
PyPDF2
ghostscript
aiohttp
asyncio
clickhouse-sqlalchemy
aioftp
